<% provide(:title, "Home") %>

<div class="container-fluid">
  <div class="jumbotron bg-hero-banner white-header-text" align="center">
    <h1>Make Art,<br>Get Money!</h1>
    <p>Artbnb connects ARTISTS with motherfuckers who need art.</p>
    <br><br>
     <div class="row" align="center">
        <div class="col-lg-2 col-xs-2"> </div>
        <div class="col-lg-8 col-xs-8"><button type="button" class="btn btn-info btn-lg purple-button">Register for Artbnb</button></div>
        <div class="col-lg-2 col-xs-2"> </div>
     </div>
  </div>
  <div class="row" align="center">
    <div class="col-lg-2 col-xs-2"> </div>
    <div class="col-lg-8 col-xs-8"><h2>How Artbnb Works</h2></div>
    <div class="col-lg-2 col-xs-2"> </div>
  </div>
  <div class="row" align="center">
    <div class="col-lg-2 col-xs-2"> </div>
    <div class="col-lg-4 col-xs-4"><h4>If You Are An Artist</h4></div>
    <div class="col-lg-4 col-xs-4"><h4>If You Are In Need Of Art</h4></div>
    <div class="col-lg-2 col-xs-2"> </div>
  </div>
  <div class="row" align="center">
    <div class="col-lg-4 col-md-4 col-xs-12 bg-danger">add icon <br>Register as an Artist<br>add description</div>
    <div class="col-lg-4 col-md-4 col-xs-12 bg-warning">add icon <br>Upload your Artwork<br>add description</div>
    <div class="col-lg-4 col-md-4 col-xs-12 bg-success">add icon <br>Connect with Buyers<br>add description</div>
  </div> 
  <div class="row bg-venues-banner" align="center">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="thumbnail">
        <div class="caption">
          <h3>Beaker & Gray</h3>
          <p>Global-inspired fare & inventive cocktails served in a former factory space with rustic accents.<br><a href="tel:305-699-2637">(305) 699-2637</a><br>2637 N Miami Ave, Miami, FL 33127</p>
          <p><a href="#" class="btn btn-primary" role="button">Find Out More</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="thumbnail">
        <div class="caption">
          <h3>BUILDING Miami</h3>
          <p>BUILDING is the premier shared workspace for growing tech companies and startups in Miami.<br><a href="tel:305-372-0075">(305) 372-0075</a><br>120 SW 8th St, Miami, FL 33130</p>
          <p><a href="#" class="btn btn-primary" role="button">Find Out More</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="thumbnail">
        <div class="caption">
          <h3>Pacific54</h3>
          <p>Pacific54 is an experienced, diverse Miami SEO Company with a passion for internet marketing.<br><a href="tel:305-515-5473">(305) 515-5473</a><br>2750 NW 3rd Ave #17, Miami, FL 33127</p>
          <p><a href="#" class="btn btn-primary" role="button">Find Out More</a></p>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-info purple-button btn-lg">See more Venues!</button>
    <button type="button" class="btn btn-info purple-button btn-lg">Register your Venue!</button>
  </div>
  <div class="jumbotron bg-homepage-info" align="center">
    <div class="row" align="center">
        <div class="col-lg-2 col-xs-2"> </div>
        <div class="col-lg-8 col-xs-8"><h6>When you sign up as an artist with Artbnb, you will have access to a vast network of people looking to either buy or rent your artwork. Additionally, interested people can also reach out to commission you for specific work.</h6><br></div>
        <div class="col-lg-2 col-xs-2"> </div>
    </div>
    <div class="row" align="center">
        <div class="col-lg-2 col-xs-2"> </div>
        <div class="col-lg-8 col-xs-8"><button type="button" class="btn btn-info btn-lg purple-button">Register as an artist with Artbnb</button></div>
        <div class="col-lg-2 col-xs-2"> </div>
    </div>  
    <br>
    <div class="row" align="center">
        <div class="col-lg-2 col-xs-2"> </div>
        <div class="col-lg-8 col-xs-8"><h6>Conversely, when you sign up as a patron with Artbnb, you will have access to a wide range of artists who either have art they have already produced and are looking to rent or sell, or they are available to produce custom art pieces. Additionally, any business or property owners can register their venue on Artbnb to be contacted by artists who are interested in displaying their work for a small daily or weekly fee, but with no commission fees if their art is sold on-site.</h6><br></div>
        <div class="col-lg-2 col-xs-2"> </div>
    </div>
    <div class="row" align="center">
        <div class="col-lg-2 col-xs-2"> </div>
        <div class="col-lg-8 col-xs-8"><button type="button" class="btn btn-info btn-lg purple-button">Register as a patron with Artbnb</button></div>
        <div class="col-lg-2 col-xs-2"> </div>
    </div>  
  </div>
</div>