<div class="container">
	<p class="lead">need to add footer</p>
	<p><%= link_to 'Home', root_path %> | <%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %></p>
	<p>then add style elements</p>
	<p>then clean up style elements</p>
	<p><small>this is just an example of small text</small></p>

</div>