.main-page-content {
	padding-top: 50px;
}

.bg-hero-banner {
	background-image: url(image-path('homepage-hero-banner-artbnb-paint.jpg'));
	padding: 20px;
	margin-top: 20px;
	height: 400px;
}

.bg-homepage-info {
	background-image: url(image-path('art-gallery-artbnb-artist.jpg'));
	padding: 20px;
	margin-top: 20px;
}

.bg-venues-banner {
	background-color: rgb(174,221,148);
	padding: 20px;
	margin-top: 20px;
}